body {
  margin: 0;
  overflow-y: hidden;
}

.customButton {
  background-color: white !important;
  color: #003d8f !important;
}

.customButton:hover {
  background-color: #003d8f !important;
  color: white !important;
}


.map {
  overflow-y: auto;
}
